---
layout: default
---

<div class="home">
    <!--<h1 class="page-heading">所有记录</h1>-->
    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
    <div>
        Categories: 
        {% for cg in site.categories %}
            {% capture this_cg %}{{ cg | first }}{% endcapture %}
        <a href="/categories/#{{ this_cg | cgi_escape }}">
            {{ this_cg }} ({{ site.categories[this_cg].size }})
        </a>
        {% if forloop.index < forloop.length %}, {% endif %}
        {% endfor %}
    </div>
    <div>
        Tags: 
        {% for tg in site.tags %}
            {% capture this_tg %}{{ tg | first }}{% endcapture %}
        <a href="/tags/#{{ this_tg | cgi_escape }}">
            {{ this_tg }} ({{ site.tags[this_tg].size }})
        </a>
        {% if forloop.index < forloop.length %}, {% endif %}
        {% endfor %}
    </div>
    <!--<p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>-->
</div>