---
layout: default
---

<!--<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="{{ "/css/pagination.css" | prepend: site.baseurl }}">
<div class="home">
    <!--<h1 class="page-heading">所有记录</h1>-->
    <ul class="post-list">
        {% for post in site.posts %}
        <li style="display: none;">
            <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
    <div id="container"></div>
    <br>
    <div>
        Categories: 
        {% for cg in site.categories %}
            {% capture this_cg %}{{ cg | first }}{% endcapture %}
        <a href="/categories/#{{ this_cg | cgi_escape }}">
            {{ this_cg }} ({{ site.categories[this_cg].size }})
        </a>
        {% if forloop.index < forloop.length %}, {% endif %}
        {% endfor %}
    </div>
    <br>
    <div>
        Tags: 
        {% for tg in site.tags %}
            {% capture this_tg %}{{ tg | first }}{% endcapture %}
        <a href="/tags/#{{ this_tg | cgi_escape }}">
            {{ this_tg }} ({{ site.tags[this_tg].size }})
        </a>
        {% if forloop.index < forloop.length %}, {% endif %}
        {% endfor %}
    </div>
    <!--<p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
<script src="//blog.bigfact.cc/frontforge/dist/components/pagination/js/pagination.min.js"></script>
<script>
    // 初始化页码
    var currentNum = parseInt(getHashString(location.href, 'page')) - 1 || 0;
    (currentNum < 0) && (currentNum = 0);
    // 每页条目数
    var itemPerPage = 12;
    // 文章列表
    var list = document.getElementsByClassName('post-list')[0].getElementsByTagName('li');
    // 起始位置
    var findex = currentNum * itemPerPage;
    var lindex = (currentNum + 1) * itemPerPage - 1;
    lindex >= list.length && (lindex = list.length - 1);
    // 当前列表
    var currentList = slice(list, findex, lindex);
    for(var i = 0; i < currentList.length; i++) {
        currentList[i].style.display = "block";
    }
    // 分页控件
    var ex = new Pagination(document.getElementById('container'));
    // 初始化分页控件
    ex.init({
        totalpage: Math.ceil(list.length / itemPerPage),        // 设置总页数
        currentpage: currentNum + 1                             // 设置当前页
    });
    // 当分页控件状态改变时执行的方法
    ex.onChange(function () {
        for(var i = 0; i < currentList.length; i++) {
            currentList[i].style.display = "none";
        }
        currentList = null;
        currentNum = ex.config.currentpage - 1;
        // 起始位置
        findex = currentNum * itemPerPage;
        lindex = (currentNum + 1) * itemPerPage - 1;
        lindex >= list.length && (lindex = list.length - 1);
        // 当前列表
        currentList = slice(list, findex, lindex);
        for(i = 0; i < currentList.length; i++) {
            currentList[i].style.display = "block";
        }
        location.href = location.origin + location.pathname + "#page=" + (currentNum + 1);
    });
    function slice(list, b, e) {
        var tmp = [];
        for(var i = b; i <= e; i++) {
            tmp[i - b] = list[i];
        }
        return tmp;
    }
</script>