---
layout: default
---

<div class="home">
    <!--<h1 class="page-heading">所有记录</h1>-->
    <ul class="post-list">
        {% for post in site.posts %}
        <li style="display: none;">
            <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
    <div>
        Categories: 
        {% for cg in site.categories %}
            {% capture this_cg %}{{ cg | first }}{% endcapture %}
        <a href="/categories/#{{ this_cg | cgi_escape }}">
            {{ this_cg }} ({{ site.categories[this_cg].size }})
        </a>
        {% if forloop.index < forloop.length %}, {% endif %}
        {% endfor %}
    </div>
    <div>
        Tags: 
        {% for tg in site.tags %}
            {% capture this_tg %}{{ tg | first }}{% endcapture %}
        <a href="/tags/#{{ this_tg | cgi_escape }}">
            {{ this_tg }} ({{ site.tags[this_tg].size }})
        </a>
        {% if forloop.index < forloop.length %}, {% endif %}
        {% endfor %}
    </div>
    <!--<p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div id="container"></div>
<script src="https://bigfact.github.io/TinyThings/tinything/pagination/dist/pagination.min.js"></script>
<script>
    // 初始化页码
    var currentNum = 0;
    // 每页条目数
    var itemPerPage = 10;
    // 文章列表
    var list = document.getElementsByClassName('post-list')[0].getElementsByTagName('li');
    // 当前列表
    var currentList = list.slice(currentNum * itemPerPage, itemPerPage - 1);
    for(var item in currentList) {
        item.style.display = "block";
    }
    // 分页控件
    var ex = new Pagination(document.getElementById('container'));
    // 初始化分页控件
    ex.init({
        totalpage: Math.ceil(list.length / itemPerPage),      // 设置总页数
        currentpage: currentNum     // 设置当前页
    });
    // 当分页控件状态改变时执行的方法
    ex.onChange(function () {
        console.log(ex.config);
        for(var item in currentList) {
            item.style.display = "none";
        }
        currentNum = ex.config.currentpage;
        currentList = list.slice(currentNum * itemPerPage, itemPerPage * (currentNum + 1) - 1);
        for(var item in currentList) {
            item.style.display = "block";
        }
    });
</script>