<div id="disqus_thread" class="wrapper"></div>

<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }}</h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li>
						<a href="mailto:{{ site.email }}">{{ site.email }}</a>
					</li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %} {% if site.twitter_username %}
					<li>
						{% include icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}
				</ul>
			</div>

			<div class="footer-col footer-col-3">
				<p>{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>

<script>
	var disqus_config = function () {
		this.page.url = location.href;
		this.page.identifier = document.title;
	};

	(function () { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//bigfact.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();

	(function () {
		// add target="_blank" to outside link
		document.querySelectorAll('.post-content a').forEach(el => {
			if (el.href.indexOf(window.location.host) < 0 && /^http(s)?:\/\/.+$/.test(el.href)) {
				el.setAttribute('target', '_blank')
			}
		})
	})();
</script>
<noscript>Please enable JavaScript to view the
	<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
